
header {
   background-color: #581648;
   text-align: right;
   border-bottom: 10px solid black;
   
}
a{
   display: inline-block;
   text-decoration: none;
   color: white;
   margin-right: 15px;
   font-family: 'Fira Code';
   font-size: 20px;
   
}

#buttom{
  display:inline-block;letter-spacing: normal;list-style: ;
  background-color:  #F25A70;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  line-height: 60px;
  box-shadow: 10px 10px black;
 
}

a::before{
   content: " ";
   display: inline-block;
   margin-right: 5px;
   background-color: #F25A70;
   width: 10px;
   height: 10px;
   vertical-align: center;
  
}
#buttom:hover{
transform: scale(1.10);
transition: 1s linear  , opa;
}
#main:hover{
  transform: scale(1.10);
  transition: 1s linear;
}
#principal:hover{
   transform: scale(1.10);
   transition: 1s linear;
 }
 #menu:hover{
   transform: scale(1.10);
   transition: 1s linear;
 }
 #skill:hover{
   transform: scale(1.10);
   transition: 1s linear;
 }
 #titulo:hover{
  transform: scale(1.15);
  transition: 900ms linear;
  box-shadow: -10px 10px rgba(32, 28, 28, 0.836);
  transform: translate(125px) rotate(5deg);
  
  
  
 }
 